body {
    background-color: #2f2e3b;
    color: #e2e1eb;
    position: relative;
    display: block;
    left: 10%;
    padding: 20px;
    margin: 8px;
}

p {
    text-align: justify;
    width: 60%;
    font-size: 18px;
}
.funParagraph {
    color: green;
}

#mainHeading {
    color: red;
    font-size: 66px;
}

h2 {
    font-size: 30px;
}

.footclass {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 50px
}